.layui-layout-admin .css-header-default {
	background-color: rgba(0,0,0,0);
	-webkit-box-shadow: 0 -2px 2px rgba(0,0,0,0.5) inset;
	-moz-box-shadow: 0 -2px 2px rgba(0,0,0,0.5) inset;
	box-shadow: 0 -2px 2px rgba(0,0,0,0.5) inset;
	-o-box-shadow: 0 -2px 2px rgba(0,0,0,0.5) inset;
	background-image: url("../img/login-header.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
}
.layui-layout-admin .css-header-default:after {
	z-index: -1;
	content: "";
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-box-shadow: 0 5px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 5px 2px rgba(0,0,0,0.5);
	box-shadow: 0 5px 2px rgba(0,0,0,0.5);
	-o-box-shadow: 0 5px 2px rgba(0,0,0,0.5);
}
.css-login-btn {
	width: 140px;
	height: 48px;
	position: absolute;
	right: 110px;
	top: 6px;
	font-size: 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	background-image: url(../img/login-btn.png);
	background-position: center center;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-repeat:no-repeat;
	padding: 0 0;
	background-color: transparent;
}
.layui-layout-admin .layui-body {
	left: 0;
	bottom: 0;
	background-image: url("../img/login-background.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
}
.layui-body .css-panel {
	width: 450px;
	height: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -140px;
	margin-left: -225px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background-color: rgba(161, 169, 241, .7);
}
.css-panel .panel-title {
	width: auto;
	font-size: 26px;
	font-weight: 600;
	text-align: center;
	margin: 15px 0;
	letter-spacing: 5px;
}
.layui-form .layui-form-label {
	font-size: 24px;
	letter-spacing: 5px;
	color: #FFF;
}
.layui-form .layui-input {
	border-radius: 20px;
}
.layui-form-checkbox[lay-skin=primary] span {
	color: #FFF;
	font-size: 16px;
}
.css-login-form {
	width: 110px;
	height: 55px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	background-color: rgb(32,196,207);
	font-size: 24px;
	color: #000;
	font-weight: 600;
	letter-spacing: 5px;
}
.forget-password-panel {
	position: absolute;
	right: 5px;
	bottom: 15px;
}
.modify-password-panel {
	position: absolute;
	left: 5px;
	bottom: 15px;
}
.layui-form .layui-btn:hover {
	color: #000;
}
