body .dialog-class .layui-layer-content {font-size: 18px;color: #E71f19;}
body .message-class .layui-layer-content {font-size: 18px;color: #000;}
.account-item-panel .more-opt-span {top: 60px}
#js-merchant-list-panel .account-item-panel {height: 87px;}
#js-dc-content .account-list-panel {width: auto; margin-left: 20px;margin-right: 20px;}
#js-dc-content .account-item-panel {height: 133px;border: 2px solid #EEE;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;}
.gift-info-panel {
	font-size: 18px;
}
.info-panel {
	white-space: nowrap;
	text-overflow: ellipsis;
}
.line {
	width: 100%;
	height: 2px;
	background-color: #EEE;
}
.gift-item-panel {
	width: 100%;
	height: 90px;
	display: table;
	border: 2px solid #EEE;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.gift-item-panel span {
	display: table-cell;
	vertical-align: middle;
}
