.layui-layout-admin .header-panel {
	background-color: rgba(0,0,0,0);
	background-image: url(../img/header-background.png);
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-shadow: 5px 5px 5px rgb(31,57,114);
	height: 66px;
	
}
.header-panel .personal-info-panel {
	position: absolute;
	right: 20px;
	top: 5px;
}
.personal-info-panel .personal-img {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.css-role-name {
	position: absolute;
	left: 60px;
	bottom: 5px;
	font-size: 16px;
	letter-spacing: 2px;
	color: #FFF;
}
.index-btn-img {
	position: absolute;
	left: 50px;
	top: 36px;
}
.index-span {
	position: absolute;
	left: 76px;
	top: 38px;
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	letter-spacing: 5px;
}
.css-menu-panel {
	width: 200px;
	height: 100%;
	background-color: rgb(22,52,80);
	position: fixed;
}
.layui-nav-tree {
	width: 100%;
}
.layui-layout-admin .layui-body {
	top: 66px;
	bottom: 0;
	left: 0;
}
.layui-nav {
	background-color: rgba(50,119,186,0);
}
.layui-nav-tree .layui-nav-item {
	/*box-shadow: 0 5px 5px rgba(0,0,0,0.5);*/
	margin-bottom: 0;
	background-color: rgba(50,119,186,1);
	position: relative;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.5) inset;
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.5) inset;
	box-shadow: 0 5px 5px rgba(0,0,0,0.5) inset;
	-o-box-shadow: 0 5px 5px rgba(0,0,0,0.5) inset;
}
.layui-nav-tree .layui-nav-item:before, .layui-nav-tree .layui-nav-item:after {
	z-index: -1;
	content: "";
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 10px;
	right: 10px;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.5);
	box-shadow: 0 5px 5px rgba(0,0,0,0.5);
	-o-box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
.layui-nav-tree .layui-nav-item:hover,
.layui-nav-tree .layui-nav-item.current{
	background-color: rgba(217,145,14,1);
}
/*.layui-nav-tree .layui-nav-item:after {
	box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}*/

.layui-nav-tree .layui-nav-item a {
	height: 60px;
	line-height: 60px;
	background-color: rgba(50,119,186,0);
	padding: 0;
	text-align: center;
	letter-spacing: 5px;
	color: rgba(255,255,255,1);
}
.layui-nav-tree .layui-nav-item a:hover {
	background-color: rgba(217,145,14,0);
}
.layui-nav * {
	font-size: 20px;
}
.body-panel {
	/*width: 85%;*/
	margin-left: 200px;
}
.cross-bar-panel {
	width: 100%;
}
.cross-bar-title {
	width: 100%;
	height: 50px;
	line-height: 50px;
	position: relative;
	font-size: 20px;
	color: #FFF;
	padding-left: 20px;
	background-image: url(../img/cross-bar.png);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.5) inset;
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.5) inset;
	box-shadow: 0 5px 5px rgba(0,0,0,0.5) inset;
	-o-box-shadow: 0 5px 5px rgba(0,0,0,0.5) inset;
}
.cross-bar-title:before, .cross-bar-title:after {
	z-index: -1;
	content: "";
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 10px;
	right: 10px;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.5);
	box-shadow: 0 5px 5px rgba(0,0,0,0.5);
	-o-box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
.cross-bar-content {
	width: 100%;
}
.layui-btn .layui-icon.icon-14 {
	font-size: 14px;
}


/**主体内容部分**/
.add-account-panel {
	width: 520px;
	margin: 40px auto 50px;
}

.layui-form-label,
.layui-input,
.layui-form-radio * {
	font-size: 18px;
	font-weight: 600;
}

.redio-panel {
	width: 50%;
	float: left;
}

.device-power-span .layui-form-label,
.device-power-span .layui-input,
.device-power-span .layui-form-radio * {
	font-size: 14px;
	font-weight: 400;
}

.device-power-span .layui-form-radio {
	margin: 0
}

.add-account-panel .layui-btn {
	width: 100px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	color: #000;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 5px;
}

.add-account-panel .layui-btn:hover {
	color: #000;
}

.register-btn {
	background-color: rgb(145, 204, 248);
}

.modify-btn {
	background-color: rgb(227, 113, 113);
}

.account-list-panel {
	width: 100%;
	margin-top: 10px;
}

.account-list-panel .account-item-panel {
	width: 100%;
	border-bottom: 2px solid #EEE;
	height: 50px;
	/*line-height: 50px;*/
	display: table;
}

.account-item-panel span {
	display: table-cell;
	vertical-align: middle;
	padding-left: 14px;
	font-size: 16px;
	/*display: block;*/
	/*overflow: hidden;*/
	text-overflow: ellipsis;
	white-space: nowrap;
}

.account-item-panel .layui-form-radio * {
	font-size: 16px;
	font-weight: normal;
}

.account-item-panel .layui-form-radio {
	margin: 0;
}

.more-btn {
	width: 80px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	text-align: center;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.account-item-panel .more-opt-span {
	display: inline-block;
	width: 90px;
	height: 90px;
	z-index: 50;
	background-color: #FFF;
	left: -10px;
	top: 42px;
	border: 1px solid #EEE;
	padding-top: 5px;
}

.account-item-panel .more-opt-span:before {
	left: 80%;
	top: -10px;
	margin-left: -6px;
	position: absolute;
	z-index: -1;
	content: "";
	width: 0;
	height: 0;
	border-top: 0;
	border-bottom: 11px solid rgba(0, 0, 0, 0.1);
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

.account-item-panel .more-opt-span:after {
	left: 80%;
	top: -10px;
	margin-left: -8px;
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-top: 0;
	border-bottom: 11px solid #FFF;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
.more-opt-span .more-opt-btn {
	width: 70px;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	background-color: #FFF;
	border-bottom: 1px solid #EEE;
	color: #000;
	font-size: 16px;
}
.verify-img {
	right: 5px;
	top: 6px;
}
/**** prompt-info-panel文本框右方提示 ****/
.prompt-info-panel {
	width: 20%;
	height: 38px;
	line-height: 38px;
	right: 0;
	top: 0;
}
.prompt-info-panel span {
	color: red;
	font-size: 16px;
	padding-left: 5px;
	letter-spacing: 2px;
}
.col-blue {
	color: #325db9;
}
