/*body .dialog-class .layui-layer-title{background:#c00; color:#fff; border: none;}
body .dialog-class .layui-layer-btn{border-top:1px solid #E9E7E7}
body .dialog-class .layui-layer-btn a{background:#333;}
body .dialog-class .layui-layer-btn .layui-layer-btn1{background:#999;}*/
body .dialog-class,
body .message-class {display: table;width: 200px;height: 120px;background: rgb(132, 180, 252);color: #000;border: none;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;}
body .dialog-class .layui-layer-content,
body .message-class .layui-layer-content {display: table-cell;vertical-align: middle;font-size: 16px;font-weight: 600;padding: 0;text-align: center;padding: 0 10px;letter-spacing: 5px;}
body .confirm-class {width: 278px;height: 170px;background-color: rgba(132, 180, 252, 1);color: #000;border: none;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;}
body .confirm-class .layui-layer-title,.confirm-class .layui-layer-setwin {display: none;}
body .confirm-class .layui-layer-content {font-size: 20px;font-weight: 600;text-align: center;padding: 40px 10px;letter-spacing: 5px;}
body .confirm-class .layui-layer-btn {text-align: center;}
body .confirm-class .layui-layer-btn a {height: 36px;line-height: 36px;font-size: 16px;font-weight: 600;color: #000;}
body .confirm-class .layui-layer-btn .layui-layer-btn0 {border: none;background-color: transparent;background-image: url(../../../img/confirm-btn1.png);background-position: center center;background-size: 100% 100%;background-repeat: no-repeat;}
body .confirm-class .layui-layer-btn .layui-layer-btn1 {border: none;background-color: transparent;background-image: url(../../../img/confirm-btn2.png);background-position: center center;background-size: 100% 100%;background-repeat: no-repeat;}
body .bind-class,
body .reset-class {width: 278px;height: 170px;background-color: rgba(132, 180, 252, 1);color: #000;border: none;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;}
body .bind-class .layui-layer-title,.bind-class .layui-layer-setwin,
body .reset-class .layui-layer-title {display: none;}
body .bind-class .layui-layer-content,
body .reset-class .layui-layer-content {font-size: 20px;font-weight: 600;text-align: center;padding: 15px 10px;letter-spacing: 5px;}
body .bind-class .layui-layer-btn,
body .reset-class .reset-btn-panel {text-align: center;padding-bottom: 0;}
body .bind-class .layui-layer-btn a,
body .reset-class .reset-btn-panel a {height: 36px;line-height: 36px;font-size: 16px;font-weight: 600;color: #000;}
body .bind-class .layui-layer-btn .layui-layer-btn0,
body .reset-class .reset-btn-panel .reset-btn0 {border: none;background-color: transparent;background-image: url(../../../img/confirm-btn1.png);background-position: center center;background-size: 100% 100%;background-repeat: no-repeat;}
body .bind-class .layui-layer-btn .layui-layer-btn1 {border: none;background-color: transparent;background-image: url(../../../img/confirm-btn2.png);background-position: center center;background-size: 100% 100%;background-repeat: no-repeat;}
body .reset-class .layui-layer-content {padding: 10px}
body .reset-class {height: 180px;}
body .reset-class .reset-btn-panel a {display: inline-block; padding: 0 15px;cursor: pointer;}
body .layer-gift-detail {border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;}
body .layer-gift-detail .layui-layer-title {padding: 0;text-align: center;background-color: rgba(39,103,209,1);color: #FFF;letter-spacing: 5px;height: 50px;line-height: 50px;font-size: 22px;border-top-left-radius: 10px;border-top-right-radius: 10px;-webkit-border-top-right-radius: 10px;-moz-border-top-right-radius: 10px;}
